.itemContainer {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.patternInfoContainer {
  padding: 15px;
  /* border: 2px solid black; */
}

.itemFormContainer {
  padding-top: 15px;
  width: 60em;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.materialChoiceFormContainer {
  /* border: 2px solid black; */
  margin-top: 40px;
}

.patternPicture {
  /* border: 2px solid black; */
}

.colorsChoiceForm {
  /* border: 2px solid black; */
  width: 15em;
}

.sizeForm{
  /* border: 2px solid black; */
  width: 40em;
}
