.itemContainer {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* height: 100%; */
  height: 75vh;
}

.patternInfoContainer {
  padding: 5px;
  padding-left: 75px;
  /* border: 2px solid black; */
}

.patternPictureBox {
  /* border: 2px solid black; */
  height: 65vh;
}

.patternPicture {
  /* border: 2px solid black; */
  height: 100%;
}

.modelTitle {
  /* border: 2px solid black; */
  font-style: italic;
}

.colorsChoiceForm {
  /* border: 2px solid black; */
  margin-left: 5%;
  margin-right: 5%;
}

.itemFormContainer {
  padding-top: 15px;
  width: 60em;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.choiceInnerForm {
  /* border: 2px solid black; */
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.leftInputContainer {
  /* border: 2px solid black; */
  width: 25vw;
  height: 73vh;
}

.rightInputContainer{
  /* border: 2px solid black; */
  width: 25vw;
  height: 73vh;
  padding-right: 5%;
}

.patternDescriptionText {
  font-size: smaller;
}

.sizeInstructionColor {
  color:rgb(87, 93, 215);
  text-decoration: underline;
}

.sizeInstructionHeaders {
  font-size: smaller;
}

.sizeInstructionText {
  font-size: smaller;
}

.inputStyle {
  /* border: 2px solid black !important; */
  height: 30px;
}

.textStyle {
  /* border: 2px solid black !important; */
  height: 30px;
  font-size: 11px;
}

.labelStyle {
  padding-top: 1px;
  font-size: smaller;
}

.comment {
  font-size: x-small;
}

.addToBasketButton {
  background-color: rgb(128, 192, 205);
  color:azure;
}
