.h6 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.orderDetailContainer {
  /* border: 2px solid blue; */
  padding: 1rem
}

.orderDetailInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  /* height: fit-content; */
}
