.container {
  width: 45vh;
  height: 73vh
}

.card {
  background-color: rgb(229,239,241);
  /* background-color: #F4EBDB; */
  height: 73vh;
  width: 45vh;
  border: rgb(71,74,75);
}

.card:hover {
  background-color: #F4EBDB;
  /* background-color: rgb(229,239,241); */
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  flex-direction:row;
  margin: 2rem;
  width: 100%;
  font-style: italic;
  color: rgb(71,74,75)
}

.price {
  font-size: large;
  font-weight: bold;
}

