.registrationOuterContainer {
  display: flex;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.formContainer {
  /* border: 2px solid black; */
  padding-top: 5em;
  width: 30vw
  /* justify-content: center; */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  width: 30vw
  /* justify-content: center; */
}

.errorStatusBox {
  /* border: 2px solid black; */
  margin: 1vh;
}

.pwText {
  margin-top: 1vh;
  font-size: x-small;
}

.validationError {
  font-size: smaller;
  color: red;
}
