.footerText {
  display: flex !important;
  margin: 0% !important;
  align-items: center !important;
  font-size: 18px;
  margin-left: 6vh !important;

}

.footerSocial {
  margin-right: 3vh;
}

.icons {
  margin-right: 1vh;
  margin-left: 1vh;
}
