.footerTextLeft {
  display: flex !important;
  margin: 0% !important;
  align-items: center !important;
  font-size: 18px;
  margin-left: 6vh !important;
  color: rgb(229,239,241) !important;

}

.footerTextCenter {
  display: flex !important;
  margin: 0% !important;
  align-items: center !important;
  font-size: 18px;
  color: rgb(229,239,241) !important;
}

.footerSocial {
  display: flex;
  align-items: center;
  margin-right: 3vh;
}

.icons {
  margin-right: 1.5vh;
  margin-left: 1.5vh;
}
