.basketCardBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 75vw;
  height: 30vh;
  /* overflow: scroll; */
}

.basketCardOuterBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.basketCardImageBox {
  display: flex;
  width: 13vw;
}

.basketCardImage {
  /* margin: 2vh; */
  height: 28vh;
}

.basketCardInfo {
  display: flex;
  width: 50vw;
  margin: 2vh;
}

.basketCardInfoInnerBox {
  width: 17vw;
}

.sizesOuterBox {
  display: flex;
  flex-direction: row;
}

.sizesInnerBox {
  display: flex;
  flex-direction: row;
  margin-right: 2vh;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 25px;
}

.sizeText {
  font-size: smaller;
}

.colorChosenImage {
  width: 2vw !important;
  /* height: 75px; */
  border-radius: 50% !important;
  /* margin-bottom: 5px; */
}

.rightBox {
  font-size: smaller;
  margin: 2vh;
}

.patternBlock {
  font-size: smaller;
}

.valueText {
  font-size: smaller;
}

.choiceButton {
  background-color: rgb(128, 192, 205);
  color:azure;
}
