.orderOuterContainer {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.orderInnerContainer {
  width: 40vw;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20vh;
  align-items: center;
  height: 100vh;
  /* border: 2px solid black; */
}

.pwValidationError {
  font-size: smaller;
  color: red;
}
