/* .colorImage {
  height: auto;
  width: auto;
}

.background {
  background-image: 'https://png.pngtree.com/thumb_back/fw800/background/20200821/pngtree-plain-red-solid-color-background-image_396556.jpg';
} */

.colorChosenImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
}

.choiceForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3%;
  border: 1px;
  border-color: #ced4da;
  border-style: solid;
}

.choiceButton {
  /* border: 2px solid black; */
  /* display: flex; */
  background-color: rgb(128, 192, 205);
  color:azure;
  font-size: smaller;
  height: 100%;
  width: 15vw;
}

.choiseButton {
  background-color: rgb(128, 192, 205);
  color:azure;
}


