.colorImage {
  height: auto;
  width: auto;
}

.background {
  background-image: 'https://png.pngtree.com/thumb_back/fw800/background/20200821/pngtree-plain-red-solid-color-background-image_396556.jpg';
}
